<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{article.title}}</h2>
                </header>
                <p>
                    {{article.content}}
                </p>
                <small class="author">
                    {{article.author.fullName}}
                </small>
                <footer>

                    <div class="pull-left">
                        {{# each article.tags}}
                            <a class="btn btn-default btn-xs"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </div>

                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs"
                               href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs"
                               href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>

                    {{#if user}}
                        <div class="col-md-12">
                            <article class="comment">
                                <form class="form-horizontal" method="POST" action="/article/details/{{article.id}}">
                                    <fieldset>
                                    <textarea class="form-control" id="comments" rows="2" name="comment"
                                              required></textarea>
                                        <button type="submit" class="btn btn-default pull-right">Add Comment</button>
                                    </fieldset>
                                </form>
                            </article>
                        </div>
                    {{/if}}

                    {{#each comments }}
                        <div class="col-md-12">
                            <article class="comment">

                                <p>{{ this.content }}</p>

                                <p class="pull-left">by {{author.fullName}}</p>

                            </article>
                        </div>
                    {{/each}}

                </footer>

            </article>
        </div>
    </div>
</div>