<div class="container body-content">
    <div class="row">
        {{#each categories}}
            <div class="col-md-6">
                <header>
                    <h2>
                        <a href="/category/{{this.id}}">
                            {{this.name}} ({{this.articles.length}})
                        </a>
                    </h2>
                </header>
                <p>{{this.content}}
                </p>
                <small class="author">
                    {{this.author.fullName}}
                </small>
                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs"
                           href="/category/{{this.id}}">Read more &raquo;</a>
                    </div>
                </footer>
            </div>
        {{/each}}
    </div>
</div>